@import "tailwindcss";
/* @import "tw-animate-css"; */

/* @custom-variant dark (&:is(.dark *)); */

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.2686 0 0);

  --card: oklch(0.99 0 0);
  --card-foreground: var(--foreground);

  --popover: var(--card);
  --popover-foreground: var(--foreground);

  --primary: oklch(0.6699 0.1199 83.8331);
  --primary-foreground: oklch(0.98 0 0);

  --secondary: oklch(0.94 0.02 264.54);
  --secondary-foreground: oklch(0.32 0.03 256.8);

  --muted: oklch(0.96 0.01 247.8);
  --muted-foreground: oklch(0.44 0.03 264.3);

  --accent: oklch(0.92 0.07 95.3);
  --accent-foreground: oklch(0.35 0.09 46.2);

  --destructive: oklch(0.58 0.2 25.3);
  --destructive-foreground: oklch(0.98 0 0);

  --border: oklch(0.88 0.01 264.5);
  --input: var(--border);
  --ring: oklch(0.7 0.16 70.1);

  --chart-1: oklch(0.72 0.18 70);
  --chart-2: oklch(0.65 0.19 30);
  --chart-3: oklch(0.58 0.15 270);
  --chart-4: oklch(0.82 0.12 150);
  --chart-5: oklch(0.76 0.14 20);

  --sidebar: var(--muted);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: oklch(0.99 0 0);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);

  --font-sans: Inter, system-ui, sans-serif;
  --font-serif: "Source Serif 4", serif;
  --font-mono: "JetBrains Mono", monospace;

  --radius: 0.5rem;
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;

  --shadow-2xs: 0 1px 2px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px hsl(0 0% 0% / 0.1);
  --shadow-sm: 0 2px 4px hsl(0 0% 0% / 0.1);
  --shadow: 0 2px 6px hsl(0 0% 0% / 0.12);
  --shadow-md: 0 4px 8px hsl(0 0% 0% / 0.12);
  --shadow-lg: 0 8px 12px hsl(0 0% 0% / 0.15);
  --shadow-xl: 0 12px 20px hsl(0 0% 0% / 0.18);
  --shadow-2xl: 0 20px 28px hsl(0 0% 0% / 0.25);

  --tracking-normal: 0.005em;
  --spacing: 0.25rem;
}

/* .dark {
  --background: oklch(0.2046 0 0);
  --foreground: oklch(0.92 0 0);

  --card: oklch(0.25 0 0);
  --card-foreground: var(--foreground);

  --popover: var(--card);
  --popover-foreground: var(--foreground);

  --primary: oklch(0.77 0.16 70.08);
  --primary-foreground: oklch(0.1 0 0);

  --secondary: oklch(0.3 0.02 264.5);
  --secondary-foreground: oklch(0.9 0 0);

  --muted: oklch(0.28 0.01 247.8);
  --muted-foreground: oklch(0.72 0 0);

  --accent: oklch(0.55 0.12 95.3);
  --accent-foreground: oklch(0.92 0.1 95.7);

  --destructive: oklch(0.58 0.2 25.3);
  --destructive-foreground: oklch(1 0 0);

  --border: oklch(0.35 0.01 264.5);
  --input: var(--border);
  --ring: var(--primary);

  --chart-1: oklch(0.72 0.18 70);
  --chart-2: oklch(0.65 0.19 30);
  --chart-3: oklch(0.58 0.15 270);
  --chart-4: oklch(0.82 0.12 150);
  --chart-5: oklch(0.76 0.14 20);

  --sidebar: oklch(0.18 0 0);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: oklch(0.98 0 0);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html,
body,
.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar,
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
